.maps .background {
    background: -webkit-linear-gradient(#f8f6f0, #f8edd8);
}

.maps .gloss {
    display: none;
}

.maps .streets {
    position: relative;
}

.maps .streets .white {
    position: absolute;
    width: 2em;
    height: 2em;
    border: 2em solid #c3b6a0;
    background: #ffffff;
}

.maps .streets .white.vertical {
    border-radius: 4em;
}

.maps .streets .white.horizontal {
    border-left: 0em;
    border-right: 0em;
}

.maps .streets .white.vertical.a {
    left: 7em;
    top: 52em;
    height: 41em;
}

.maps .streets .white.vertical.b {
    left: 50em;
    top: 35em;
    height: 60em;
}

.maps .streets .white.vertical.c {
    left: 68em;
    top: 52em;
    height: 43em;
}

.maps .streets .white.vertical.d {
    left: 84em;
    top: 2em;
    height: 92em;
}

.maps .streets .white.horizontal.e {
    left: 0em;
    top: 54em;
    width: 9em;
}

.maps .streets .white.horizontal.f {
    left: 11em;
    top: 54em;
    width: 41em;
}

.maps .streets .white.horizontal.g {
    left: 54em;
    top: 54em;
    width: 16em;
}

.maps .streets .white.horizontal.h {
    left: 72em;
    top: 54em;
    width: 14em;
}

.maps .streets .white.horizontal.i {
    left: 88em;
    top: 54em;
    width: 12em;
}

.maps .streets .white.horizontal.j {
    left: 88em;
    top: 62em;
    width: 12em;
}

.maps .streets .white.horizontal.k {
    left: 54em;
    top: 65em;
    width: 16em;
}

.maps .streets .white.horizontal.l {
    left: 72em;
    top: 65em;
    width: 14em;
}

.maps .streets .white.horizontal.m {
    left: 54em;
    top: 72em;
    width: 16em;
}

.maps .streets .white.horizontal.n {
    left: 72em;
    top: 72em;
    width: 14em;
}

.maps .streets .white.horizontal.o {
    left: 88em;
    top: 72em;
    width: 12em;
}

.maps .streets .white.horizontal.p {
    left: 54em;
    top: 81em;
    width: 16em;
}

.maps .streets .white.horizontal.q {
    left: 72em;
    top: 81em;
    width: 14em;
}

.maps .streets .white.horizontal.r {
    left: 11em;
    top: 90em;
    width: 41em;
}

.maps .streets .white.horizontal.s {
    left: 54em;
    top: 90em;
    width: 16em;
}

.maps .streets .white.horizontal.t {
    left: 72em;
    top: 90em;
    width: 14em;
}

.maps .streets .yellow-street-border {
    position: absolute;
    left: 16em;
    top: 0em;
    width: 16em;
    height: 100em;
    background: rgba(0, 0, 0, 0.1);
}

.maps .streets .yellow {
    position: absolute;
    left: 18em;
    top: 0em;
    width: 12em;
    height: 100em;
    background: #fff400;
}

.maps .streets .orange {
    position: absolute;
    left: 0em;
    top: 25em;
    width: 100em;
    height: 11em;
    background: #ffc000;
    border-top: 2em solid rgba(0, 0, 0, 0.1);
    border-bottom: 2em solid rgba(0, 0, 0, 0.1);
}

.maps .sign {
    position: relative;
    left: .82em;
    top: .04em;
    width: 1em;
    height: 1em;
    font-size: 50em;
}

.maps .sign:after {
    content: '\F064';
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(rgb(246, 134, 134), rgb(252, 82, 84) 8%, rgb(252, 52, 54) 36%, rgb(246, 186, 186) 36%, rgb(246, 186, 186) 39%, rgb(0, 118, 248) 39%, rgb(0, 70, 200) 90%, rgb(0, 40, 160) 96%); 
    text-align: center;
    font-family: 'Webdings';
    line-height: 1em;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-transform: scalex(1.4) ;
}

.maps .sign p {
    position: absolute;
    left: 1%;
    top: 42%;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "MyriadPro-Boldcond";
    font-size: .28em;
    color: #ffffff; 
    z-index: 201;
}

.maps .pin {
    position: relative;
    top: -11em;
}

.maps .pin-top {
    position: absolute;
    left: 16em;
    top: 12em;
    width: 16em;
    height: 16em;
    background: -webkit-gradient(radial, 40% 30%, 1, 48% 40%, 15, from(#FBFEFD), to(#F06060), color-stop(.4,#F23039), color-stop(.8,#C61928), color-stop(.9,#f03030));
    background: -webkit-radial-gradient(40% 30%, white, #f23039 25%, #c61928 50%, #f03030 70%, #f06060);
    border-radius: 50%;
    box-shadow: inset -2em -8em 6em rgba(0, 0, 0, 0.3);
}

.maps .pin-rod {
    position: absolute;
    left: 21.5em;
    top: 27em;
    width: 5em;
    height: 18em;
    background: -webkit-linear-gradient(left, #a6a4a0, #f0f0e0 35%, #545444 60%, #c4c4b4);
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: inset 0em -1em 1em #333;
}

.maps .pin-hole {
    position: absolute;
    left: 20em;
    top: 42em;
    width: 8em;
    height: 4em;
    background: #333;
    border-radius: 50%;
}

.maps .pin-head-shadow {
    position: absolute;
    left: 20em;
    top: 17em;
    width: 16em;
    height: 8em;
    border-radius: 50%;
    box-shadow: 11em 11em 3em rgba(0, 0, 0, 0.4);
}

.maps .pin-rod-shadow {
    position: absolute;
    left: 29em;
    top: 17em;
    width: 4em;
    height: 14em;
    -webkit-transform: rotate(46deg);
    box-shadow: 11em 11em 2.5em rgba(0, 0, 0, 0.3);
}
