/* index */
body {
    font-size: 1px;
    text-align: center;
    background: #000000;
    background-image: -webkit-linear-gradient(#000000,#090909 470px,#000000);
    color: #ffffff;
}

.page {
    font-family: "NanumGothicExtraBoldWeb", "AppleGothic", "Gothic", "Verdana", sans-serif;
}

.content {
    position: relative;
    margin: auto;
    width: 800em;
}

.content .section {
    padding-top: 40em;
    padding-bottom: 40em;
    margin: auto;
}

.content .info {
    text-align: left;
}

.content .info img {
    border-radius: 1em;
    vertical-align: middle;
    margin-right: 1em;
}

.content .info p {
    margin: 1em auto;
    font-size: 36em;
}

