/* general */
.center {
    text-align: center;
}

.left {
    text-align: left;
}

/* specific */
.patio9 {
    background: #eeeadf;
}

/* index */
body {
    font-size: 1px;
    text-align: center;
    background: #ffffff;
    color: #303030;
}

.page {
    font-family: "NanumGothicExtraBoldWeb", "AppleGothic", "Gothic", "Verdana", sans-serif;
}

.content {
    position: relative;
    margin: auto;
    width: 800em;
}

.content .section {
    padding-top: 100em;
    padding-bottom: 100em;
    margin: auto;
}

.content .section p {
    font-size: 40em;
}

.content .map small {
    font-size: 20em;
}
