/* index */
body {
    font-size: 1px;
    text-align: center;
    background: #000000;
    color: #eeeeee;
}

a:link, a:visited {
    text-decoration: none;
    outline: none;
    color: #eeeeee;
}

a:active, a:hover, a:focus {
    text-decoration: underline;
    outline: none;
    color: #ffffff;
}

.page {
    font-family: "NanumGothicExtraBoldWeb", "AppleGothic", "Gothic", "Verdana", sans-serif;
}

.content {
    position: relative;
    margin: auto;
    width: 640px;
}

.content .section {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
}

.content .gallery img {
    -webkit-box-reflect: below 0px -webkit-linear-gradient(transparent 90%, black);
}

.content .info {
    margin-left: 10px;
    text-align: left;
}

.content .info img {
    border-radius: 16px;
    vertical-align: middle;
    margin-right: 16px;
}

.content .info p {
    margin: 32px auto;
    font-size: 32px;
}

.content #disqus_thread {
    font-size: 16px;
    width: 624px;
    margin: 16px auto;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
