.calendar .background {
    background: -webkit-linear-gradient(#fdd3d4, #faacaa 2%, #ed6869 15%, #d03030 25%, #761011 28%, #686868 28%, #909090 29%, #d4d4d4 32%, #f4f4f4 40%, #ededed);
}

.calendar .fog {
    display: none;
}

.calendar .gloss {
    display: none;
}

.calendar p {
    width: 100%;
    text-align: center;
    font-family: "Helvetica-Bold";
}

.calendar p.weekday {
    font-size: 15em;
    line-height: 1.95em;
    color: #ffffff;
    text-shadow: 0em -.05em .05em rgba(0, 0, 0, 0.2);
}

.calendar p.daynumber {
    font-size: 72em;
    line-height: .98em;
    color: #000000;
    text-shadow: 1em 1em 1em rgba(255, 255, 255, 1);
}
